h1{
  text-align: center;
  font-weight: bold;
}
li, h1, h3, p{
  font-family: sans-serif;
}
.card{
  margin: 15px;
  padding: 10px;
  min-height: 900;
  whidth: 270px;
}
.card-img-bottom{
  align-self: center;
  height: 300px;
  width: 250px;
}
