html,body {
  height:100%;
  background: linear-gradient(lightgreen 20%, cyan 60%, lightgreen 100%);
  }

.nav-expand {
height: 100%;
}

.nav-item {
  font-size: large;
  margin-left: 50px; 
  font-family: sans-serif;
  color: white;
}

.container {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 20%;
  margin-bottom: 10%;
}

.title{
font-family: sans-serif;
}

.form-inline {
float: right;
}

.table {
  margin-top: 5%;
}

.pagination{
  float: right;
}

